/* Color palette link on Coolors.co */
/* https://coolors.co/111111-343732-281f18-745f4d-66c2d1-ebebeb */

/* CSS HEX */
*{
  --night: #111111;
  --black-olive: #343732;
  --licorice: #281f18;
  --umber: #745f4d;
  --sky-blue: #66c2d1;
  --antiflash-white: #ebebeb;
}
